<div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid" >
            <a class="navbar-brand" >Welcome {{ name }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" href="/admin_dashboard">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('quiz')}}">Quiz</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{url_for('admin_summary')}}">Summary</a></li>
                </ul>
                <!-- <form action="{{ url_for('search') }}" method="GET">
                    <input type="text" name="q" placeholder="Search..." required>
                    <button type="submit">🔍</button>
                </form>
                 Add a div for live search results -->
                
                <form class="d-flex" role="search" id="searchResults" action="{{ url_for('search', _external=True) }}" method="GET">
                    <div id="searchResults">
                    <input class="form-control me-2" type="text", name="q" placeholder="Search..."></div>
                    <button class="btn btn-outline-success" type="submit">🔍Search</button>
                </form>
                <ul class="navbar-nav mb-2 mb-lg-0"><li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}">Logout</a></li></ul>
            </div>
        </div>
    </nav>
</div>